<div class="container">

  <div class="content">

    <header>

      <h1>Result</h1>
      <a href="/demo">
        <svg xmlns="http://www.w3.org/2000/svg" width="29.313" height="29.344"><path d="M14.656 0c-2.041 0-3.948.385-5.719 1.156a14.265 14.265 0 0 0-4.671 3.125 15.102 15.102 0 0 0-3.141 4.657C.375 10.729 0 12.634 0 14.655c0 2.042.375 3.948 1.125 5.719.77 1.792 1.818 3.349 3.14 4.672 1.324 1.323 2.88 2.37 4.673 3.14 1.77.771 3.677 1.157 5.718 1.157 2.042 0 3.948-.386 5.719-1.157 1.792-.77 3.349-1.817 4.672-3.14 1.323-1.323 2.37-2.88 3.14-4.672.75-1.77 1.125-3.677 1.125-5.719 0-2.02-.374-3.927-1.125-5.719a15.102 15.102 0 0 0-3.14-4.656 14.265 14.265 0 0 0-4.672-3.125C18.605.386 16.698 0 14.656 0Zm0 26.656c-1.666 0-3.229-.312-4.687-.937a12.04 12.04 0 0 1-3.813-2.563 12.04 12.04 0 0 1-2.562-3.812c-.625-1.459-.938-3.021-.938-4.688 0-1.666.313-3.229.938-4.687a12.04 12.04 0 0 1 2.562-3.813A12.04 12.04 0 0 1 9.97 3.594c1.458-.625 3.02-.938 4.687-.938 1.667 0 3.23.313 4.688.938a12.04 12.04 0 0 1 3.812 2.562A12.04 12.04 0 0 1 25.72 9.97c.625 1.458.937 3.02.937 4.687 0 1.667-.312 3.23-.937 4.688a12.04 12.04 0 0 1-2.563 3.812 12.04 12.04 0 0 1-3.812 2.563c-1.459.625-3.021.937-4.688.937ZM20 13.344h-7.469l3.063-3.063c.27-.27.406-.583.406-.937 0-.354-.135-.667-.406-.938-.271-.27-.584-.406-.938-.406s-.666.135-.937.406L8.375 13.72a5.49 5.49 0 0 1-.172.219.294.294 0 0 0-.078.187 1.259 1.259 0 0 0-.094.5c0 .188.031.375.094.563a.813.813 0 0 1 .125.218c.02.063.063.125.125.188l5.344 5.344c.146.125.307.223.484.296.177.073.328.11.453.11s.276-.037.453-.11c.177-.073.339-.171.485-.297.27-.27.406-.583.406-.937 0-.354-.135-.667-.406-.938L12.53 16H20c.396 0 .714-.12.953-.36.24-.239.36-.567.36-.984 0-.396-.12-.713-.36-.953s-.557-.36-.953-.36ZM30.656 28"/></svg>
      </a>

    </header>

    <div class="images">
      <img src="<%= @resized_image_url %>">
      <img src="<%= @modified_image_url %>">
    </div>

    <% if @content_individual %>
      <h2>Individual Prompt</h2>
      <%= @content_individual %>
      <hr>
    <% end %>


    <h2>Product description</h2>
    <%= @content_product_description %>

    <hr>

    <h2>Product classification</h2>
    <%= @content_product_classification %>

    <hr>

    <h2>Image description</h2>
    <%= @content_image_description %>

  </div>

</div>
